.App {
  height: 100%;
  text-align: center;
  color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  align-items: center;
}

.on-submit {
  width: 100px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 50%;
  height: 70%;
}

.marketing-page {
  color: black;
  margin: 20px 0 20px 0;
}

.marketing-page:hover {
  text-decoration: none;
  color: black;
}

div.links p:hover{
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.header-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  padding: 5px;
  background-color: white;
}

.farmer-login {
  font-family: 'Pacifico', cursive;
  margin-top: 40px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
